$width: 94%;

.app {
    display: flex;
    justify-content: center;
}

.coloredButton {
    transition: 0.5s;
    border-radius: 30px;
    color: white;
    border: none;
    background: radial-gradient(circle farthest-corner at 10px 50px, #8d94f0, #aebec5);
    &:hover {
        filter: hue-rotate(50deg);
    }
}

.logOutBtn {
    width: 150px;
    height: 2em;
    background: black;
    opacity: 0.5;
    transition: 0.5s;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.signIn-btnHandler {
    height: 100vh;
    position: relative;
    button {
        width: 300px;
        height: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.heading {
    background: #5c5c5c;
    position: fixed;
    top: 0px;
    padding: 10px 0;
    margin-left: -3%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    button {
        margin-left: 3%;
    }
}

.mainHeading {
    color: #ffffff;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainFrame {
    margin: 60px 0 200px 0;
    width: $width;
}

.sendForm {
    background: #5c5c5c;
    position: fixed;
    bottom: 0px;
    padding: 15px 0;
    margin-left: -3%;
    width: 100%;
    .sendFormContainer {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        textarea {
            width: 90%;
            resize: none;
            height: 100px;
            border-radius: 12px;
            outline: none;
            padding: 10px;
        }
        button {
            width: 100px;
            height: 50px;
        }
    }
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    background-color: rgba(0, 0, 0, 0.25);
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.received {
    align-self: flex-start;
    .message {
        flex-direction: row-reverse;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 50px;
        }
    }
}

.sent .message {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50px;
    }
}

.messageBox {
    display: flex;
    flex-direction: column;
}
